#workspaces, #window, #custom-gentoo, #custom-tec, #custom-usb, #custom-network, #custom-audio, #custom-monitor, #clock {
  background: rgba(26, 27, 38, 0.90);
  color: #c0caf5;
  border: 1px solid #e0af68;
}
#workspaces button { color: #7aa2f7; }
#workspaces button.active { color: #e0af68; background: transparent; }
tooltip { background: rgba(26, 27, 38, 0.90); color: #c0caf5; border: 1px solid #e0af68; }
